/* ================================================== */


/* ====================== BASE ====================== */


/* ================================================== */

body {
    font-family: 'Open Sans', sans-serif;
    margin-right: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    margin: 0 0 25px 0;
    padding: 0 0 25px 0;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 2px solid #fff;
}

h2 {
    font-size: 2em;
}

h3 {
    margin: auto auto 10px auto;
    font-family: "Open" sans-serif;
    color: #143143;
}

h4 {
    margin: 10px auto 10px auto;
    font-family: "Open" sans-serif;
    color: rgba(10, 113, 180, 0.8)
}

header p {
    color: #fff;
    font-weight: 300;
    line-height: 30px;
    white-space: pre;
}

img.avatar {
    width: 33%;
    margin: 40px auto;
    text-align: center;
}

i {
    color: #F58900;
}

.icone-prestation {
    padding: 20px;
}

.page-sans-header {
    margin-top: 50px;
}

/* ================================================== */


/* ===================== LAYOUT ===================== */


/* ================================================== */


/* --- header --- */

header {
    margin: 0 auto;
    padding: 45px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 50px auto 0 auto;
    padding: 30px 0;
    background-color: rgba(10, 113, 180, 0.8);
    background-image: url(../images/facade.JPG);
    background-size: 100%;
    background-position: center center;
}

header .logo {
    width: 30%;
    margin: 0 auto;
}

.header-corp-1 {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.header-corp-2 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.header-corp-3 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(55, 145, 255, 0.5);
}

.logo-img {
    width: 150px;
    height: 150px;
    background-image: url(../images/logo-veto.svg);
    background-size: 150%;
    background-position: center center;
}

header p {
    margin: 0;
    font-weight: 500;
}


/* --- logo en xs --- */

@media (max-width: 767px) {
    header .logo {
        width: 75%;
        margin: 0 auto;
    }
}

.section-header {
    background-color: #143143;
    height: 90px;
    color: white;
}

.section-header h2 {
    line-height: 90px;
}

footer {
    height: 420px;
}

.bloc-footer {
    padding: 50px;
    background-color: #143143;
    height: 100%;
}

.bloc-footer p,
h4 {
    color: white;
    text-align: center;
}

.bloc-footer button {
    background-color: rgba(10, 113, 180, 0.8);
    border: none;
    color: white;
}


/* ================================================== */


/* ===================== MODULE ===================== */


/* ================================================== */

#myNavbar {
    margin: 0 25%;
}


/* --- virer les margins des col-* en cas de besoin --- */

.no-padding > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}


/* === menu de navigation === */

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0 -15px;
    /* pour le container-fluid bootstrap */
    background-color: #fff;
    border-bottom: 1px solid #159;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

ul {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

ul li {
    display: inline;
    padding: 0 25px;
    line-height: 50px;
    cursor: pointer;
}

ul li a {
    color: #159;
    transition: .2s;
    cursor: pointer;
}

ul li.active,
ul li:hover {
    background-color: #159;
    transition: .2s;
}

ul li.active a,
ul li:hover a {
    color: #fff;
    transition: .4s;
}


/* -- on vire le menu déroulant -- */

.unfold-menu,
.unfold-deco {
    display: none;
}

@media(max-width:670px) {
    ul {
        display: none;
        width: 100%;
        padding: 0;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    ul li {
        display: block;
        height: 30px;
        margin: 0;
        line-height: 30px;
        border-bottom: 1px solid #159;
    }
    .unfold-menu {
        display: block;
        width: 50px;
        height: 49px;
        margin: 0 auto;
        padding-top: 19px;
        background-color: #eee;
        cursor: pointer;
        transition: .2s;
    }
    .unfold-deco {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #159;
        margin: auto;
        margin-top: 3px;
        transition: .2s;
    }
    .unfold-deco:first-child {
        margin-top: 0px;
    }
    .unfold-menu:hover .unfold-deco {
        background-color: #eee;
        transition: .2s;
    }
    .unfold-menu:hover {
        background-color: #159;
        transition: .2s;
    }
}


/* /end nav */

.fa {
    padding: 0 0 20px 0;
}

.pad-70 {
    padding: 70px;
}

.pad-15-35 {
    padding: 15px 35px;
}

.btn-m-70 {
    margin-bottom: 70px;
}

.btn:hover a {
    color: #337ab7;
}

#myModalLabel {
    color: rgba(10, 113, 180, 0.8);
}

.modal-body h4 {
    color: rgba(10, 113, 180, 0.8);
}


/* === fiches conseils === */

.hover {
    box-sizing: border-box;
    cursor: default;
    transition: all 0.4s ease-in-out;
}

.hover:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.overlay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.overlay h2 {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
}

.overlay button {
    width: 75%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}

.overlay:hover {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.hover .overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.hover,
.hover .overlay {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hover,
.hover h2 {
    text-align: center;
}

.pad-map {
    padding-top: 50px;
}


/* --- Styles prestations ---*/

.prestation {
    padding: 60px 0px 0px 0px;
}

.prestation2 {
    padding: 0px 0px 0px 0px;
}

.prestation h3{
    font-size: 1.3em;
}

.article-prestation h4 {
    color: #F58900;
    padding-top: 15px;
    text-align: left;
}

.separator-prestation {
    width: 150px;
    height: 2px;
    background-color: #143143;
    margin: 30px auto 20px auto;
}

.article-prestation {
    margin-top: 50px;
    margin-bottom: 50px;
}

.prestation p {
    margin: 0 0 20px 0;
    text-align: justify;
    font-size: 14px;
}

.nav-prestations {
    position: fixed;
    top: 10%;
    right: 10px;
    width: 60px;
    z-index: 99;
}


/* ================================================== */


/* ====================== STATE ===================== */


/* ================================================== */

a,
a i {
    text-decoration: none;
    color: #F58900;
    font-family: "Open" sans-serif;
    font-weight: 700;
    transition: 0.2s;
    padding: 15px;
    
}

a:hover,
a:hover i {
    text-decoration: none;
    color: rgba(10, 113, 180, 0.8);
    transition: 0.2s;
}


/* =============================================== */
/* =========== ID PRESTATIONS / CONSEILS========== */
/* =============================================== */

#consultation {
    display:block;
}
#imagerie {
    display:none;
}
#analyse {
    display:none;
}
#chirurgie {
    display:none;
}
#hospitalisation {
    display:none;
}
#nac {
    display:none;
}


#dent {
    display:block;
}
#yeux-oreilles {
    display:none;
}
#pelage {
    display:none;
}
#parasite {
    display:none;
}
#vaccin-chien {
    display:none;
}
#vaccin-chat {
    display:none;
}
#vaccin-chat {
    display:none;
}
#id {
    display:none;
}
#education {
    display:none;
}

#medicament {
    display: block;
}
#alimentation {
    display: none;
}
#index {
    display: none;
}