/* ================================================== */
/* ====================== BASE ====================== */
/* ================================================== */
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0 0 15px 0;
}

h3 {
    margin:20px auto 20px auto;
    font-family: "Open" sans-serif;

}

p {
    
}

header p {
    color: #fff;
    font-weight: 300;
    line-height: 30px;
}

img.avatar {
    width: 33%;
    margin: 40px auto;
    text-align: center;
}

i {color: #F58900;}

/* ================================================== */
/* ===================== LAYOUT ===================== */
/* ================================================== */
header {
    margin: 50px auto 0 auto;
    padding: 60px 0;
    background-color: rgba(10, 113, 180, 0.8);
}

header .logo {
    width: 450px;
    height: 240px;
    margin: 0 auto;
    background-image: url(../images/logo-veto.svg);
    background-size: 100%;
    background-position: center center;
}

.fond-orange {
    background-color: #F58900;
}

section {    
}

.section-header {
    background-color: #BCF53F;
    height: 90px;
    color: white;
}

.section-header h2 {
    line-height: 90px;
}

footer {
    
}

/* ================================================== */
/* ===================== MODULE ===================== */
/* ================================================== */
.navbar-default .navbar-brand{
    color: #fff;
}

.nav-style {
    background-color: rgba(10, 113, 180, 0.8);
    color: white;

}

.separator-header {
    width: 150px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto 20px auto;
}

.fa {
    padding: 0 0 20px 0;
}

.pad-70 {
    padding: 70px;
}

/* === fiches conseils === */
.hovereffect {
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
    text-align: center;
    transition: all 0.4s linear;
}

.hovereffect .overlay {
    position: absolute;
    left: 25%;
    top: 25%;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    opacity: 0;
    transition: 0.4s;
}

.hovereffect img {
    padding: 0;
    margin: 0;
}

.hovereffect:hover .overlay {
    opacity: 1;
}

    /* zoom */
.hovereffect:hover img {
    -webkit-transform: scale(1.2);
    
    transition: all 0.4s linear;
}


/* ================================================== */
/* ====================== STATE ===================== */
/* ================================================== */

/* ================================================== */
/* ====================== STYLE PRESTATIONS ========= */
/* ================================================== */

/*.icone_prestation:hover {
    background-color: black;
}*/

.icone_prestation {
}