/* ================================================== */
/* ====================== BASE ====================== */
/* ================================================== */
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: #fff;
    margin: 0 0 50px 0;
}

p {
    
}

header p {
    color: #fff;
    font-weight: 700;
    line-height: 30px;
}

/* ================================================== */
/* ===================== LAYOUT ===================== */
/* ================================================== */
header {
    margin: 50px auto;
    padding: 100px 0;
    background-color: cadetblue;
}

section {
    
}

footer {
    
}

/* ================================================== */
/* ===================== MODULE ===================== */
/* ================================================== */
btn {
    
}

form {
    
}

.separator-header {
    width: 150px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto 50px auto;
}

/* ================================================== */
/* ====================== STATE ===================== */
/* ================================================== */
